html {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.mb-5 {
    margin-bottom: 0 !important;
}

.container {
    width: 446px;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
}

.header {
    font-size: 30px;
    margin-bottom: 20px;
}

.cardsContainer {
    margin: 0 auto;
    width: 446px;
    flex-wrap: wrap;
}

.card-container {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.card-container:nth-child(4n) {
    margin-right: 0;
}

.cardsContainer:last-child {
    align-items: center;
    justify-content: center;
}

.btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

